<%= render "header" %>

<div class="container">
  <div class="well">
		<p>Hi, this is me <strong><%= link_to "Amrit Deep Dhungana" %></strong>I am <strong><%= link_to "Ruby on Rails", "http://rubyonrails.org/" %></strong>deleloper. Currently, I am looking in <strong><%= link_to "Leapfrog technoloyg", "http://lftechnology.com/" %></strong>. Previsoly, I have been working in Lins.</p>

		<p>I have been graduta from St.Xavier's college, Maitighar, Nepal. I have complete my 10+2 from Bagmati Modern College.</p>

		<p><%= link_to "You can Contact Me", contact_me_url %></p>
  </div>
  <div class="">
    <%= link_to "Donate to us", donation_url %>    
  </div>
  
</div>
<!-- 
<%= render "footer" %> -->