
	<div class="well form-horizonta">
          <!-- <div class="alert alert-warning">
            	<%= flash[:errors] %>
          </div> -->
	<%= form_for(@user, url: my_friend_path, class: "well") do |user| %>
		<%= user.text_field 'name', placeholder: "Your name Please", class: "span3" %><span class="text-error">required</span></br>
		<%= user.text_field 'email', placeholder: "Your Email Please", class: "span3" %><span class="text-error">required</span></br>
		<%= user.text_field 'address', placeholder: "Your Address Please", class: "span3" %><span class="text-error">required</span></br>
		<%= user.submit "Be Mine Friend", disable_with: "Please wait....", class: "btn btn-primary" %>
	<% end %>
	</div>
