<!DOCTYPE html>
<html>
<head>
  <title>Amrit</title>
  <%= stylesheet_link_tag    "application", :media => "all", cache: false %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "home/header" %>

  <div class="container" style="min-height: 450px;" >
    <%= yield %>
  </div>
  
  <%= render "home/footer" %>
</body>
</html>
